.category__section {
  // display: none;
  width: 100%;
  & > p {
    color: #f55d2c;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 1.3rem;
    margin-bottom: 1rem;
  }
  & > h2 {
    color: #404356;
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 1.1px;
    margin-left: 1.3rem;
    margin-bottom: 1rem;
  }
  margin-bottom: 5rem;
}
.swiper-button-next::after {
  margin-left: 26px !important;
  color: #414354;
  font-size: 16px;
  font-weight: bold;
  box-shadow: -1px 2px 14px -2px rgba(0, 0, 0, 0.64);
  border-radius: 70px;
  padding: 0.5rem;
  border: 1.5px solid #f7f7f7;
  background-color: #ffffff;
}
.swiper-button-prev::after {
  margin-right: 26px !important;
  color: #414354;
  font-size: 16px;
  font-weight: bold;
  box-shadow: -1px 2px 14px -2px rgba(0, 0, 0, 0.64);
  border-radius: 70px;
  padding: 0.5rem;
  border: 1.5px solid #f7f7f7;
  background-color: #ffffff;
  // z-index: 20 !important;
}

.swiper-button-next:hover::after {
  background-color: #f55d2c !important;
  color: #ffffff;
}
.swiper-button-prev:hover::after {
  background-color: #f55d2c !important;
  color: #ffffff;
}
