@mixin flex() {
  display: flex;
  align-items: center;
}

@mixin matchIconWithText {
  font-size: 1rem;
  margin-right: 4px;
  margin-top: 4px;
}

.navbar {
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  padding: 0 10px;
  // position: sticky;
  // top: 0;
  // z-index: 1000;
  h1 {
    color: #404258;
    font-size: 2rem;
    margin-right: 1rem;
  }
  nav {
    @include flex();
    justify-content: space-between;
    height: 100%;

    .navbar__information {
      @include flex();
      height: 60px;
      justify-content: space-between;
      flex: 0.58;
    }
  }
}

// Navbar Location
.navbar__location {
  @include flex();
  z-index: 11;
  cursor: pointer;
  height: 60px;
  margin-left: -8rem;
  margin-right: 8px;
  .navbar__location-icon {
    font-size: 1rem;
    margin-right: 3px;
    margin-top: 0.1rem;
  }
  p {
    font-size: 20px;
    letter-spacing: 1.5px;
  }
  .navbar__location-dropdown {
    margin-top: 0.2rem;
  }
}

// Navbar Location
.navbar__search {
  @include flex();
  height: 60px;
  position: relative;
  margin-left: -8rem;
  input {
    border: none;
    outline: none;
    background-color: #f7f7f7;
    width: 30rem;
    font-size: 1rem;
    height: 2.2rem;
    // padding: 0px 39px;
    padding-left: 39px;
    padding-right: 3px;
    border-radius: 5px;
    &::placeholder {
      color: #d6d6d6;
    }
  }
  .navbar__search-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #d6d6d6;
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
}

.navbar__phone {
  @include flex();
  .navbar__phone-icon {
    @include matchIconWithText();
  }
}

.navbar__offers {
  @include flex();
  .navbar__offers-icon {
    @include matchIconWithText();
  }
}

.navbar__help {
  @include flex();
  .navbar__help-icon {
    @include matchIconWithText();
  }
}

.navbar__wishlist {
  @include flex();
}

.navbar__userinfo {
  @include flex();
  // justify-content: space-between;
  cursor: pointer;
  background-color: #f9f9f9;
  // border: 1px solid black;
  z-index: 11;
  height: 61px;
  padding: 0 3px;
  width: 10rem;
  border-radius: 20px;
}

// Responsive ness
// width 1430px
@media screen and (max-width: 1430px) {
  .navbar__location {
    margin-left: -8.5rem;
  }

  .navbar__search {
    margin-left: -8.5rem;
    max-width: 1rem;
    margin-right: 5rem;
  }

  .navbar__information {
    margin-left: 8rem;
  }
}
// width 1268px
@media screen and (max-width: 1268px) {
  .navbar__location {
    margin-left: -7.5rem;
    margin-right: 1rem;
  }

  .navbar__search {
    margin-left: -8.5rem;
    max-width: 8rem;
    margin-right: 5rem;
  }

  .navbar__information {
    margin-left: -3rem;
  }
}

// width 1064px
@media screen and (max-width: 1064px) {
  .navbar__location {
    margin-left: -7.5rem;
  }

  .navbar__search {
    display: none;
  }

  .navbar__information {
    margin-left: -1rem;
    .navbar__phone {
      display: none;
    }
  }
}
// width 797px
@media screen and (max-width: 797px) {
  .navbar__location {
    margin-left: -7.5rem;
    .location__indicator__name {
      display: none;
    }
  }
  .navbar__help {
    display: none;
  }
  .navbar__offers {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .navbar__wishlist {
    position: fixed;
    top: 5.3%;
    transform: translateY(-50%);
    right: 30%;
    margin-right: 10px;
  }
  .navbar__userinfo {
    position: fixed;
    top: 5.3%;
    transform: translateY(-50%);
    right: 2%;
  }

  .navbar__search {
    display: none;
  }

  .navbar__information {
    margin-left: -1rem;
    .navbar__phone {
      display: none;
    }
  }
}
// width 614px
@media screen and (max-width: 614px) {
  // .navbar__help {
  //   display: none;
  // }
  // .navbar__offers {
  //   display: none;
  // }
  .navbar {
    position: relative;
  }
  .navbar__location {
    position: fixed;
    top: 0%;
    left: 60%;
    // transform: translateY(-50);
  }
  .navbar__wishlist {
    display: none;
  }
  .navbar__userinfo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
  }

  // .navbar__search {
  //   display: none;
  // }

  // .navbar__information {
  //   margin-left: -1rem;
  //   .navbar__phone {
  //     display: none;
  //   }
  // }
}
