.dashboard-user__information {
  //   border: 1px solid saddlebrown;
  margin-top: 4.4rem;
  height: 22.8rem;
  background-color: #f7c9ba;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .avatar {
    width: 110px;
    height: 110px;
    margin-bottom: 0.5rem;
  }
  h1 {
    color: #2f2e46;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
  section {
    background-color: #f9d8cf;
    // width: 10rem;
    padding: 0.4rem 2rem;
    font-size: 20px;
  }
}

.dashboard {
  main {
    max-width: 84%;
    border: 2px solid salmon;
    margin: 0 auto;
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 3.2rem;
    position: relative;
  }
}

.Link {
  text-decoration: none;
  color: black;
  background-color: #ffffff;
  margin: 0.1rem 0;
  padding: 0.6rem 0.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  border-radius: 4px;
  &:hover {
    background-color: #f7c9ba8e;
  }
}

.option__nav {
  width: 14rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 10rem;
}

.option__content {
  background-color: #ffffff;
  // width: 100%;
  //   overflow-y: scroll;
}
